.my-footer {
    height: 5em;
    background-color: #383838;
    margin-top: 1em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.room-img {
    max-width: 50%;
}

.datepicker {
    z-index: 1080;
}