{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to about page!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae cumque est odio repellendus distinctio perferendis eveniet tempore, laboriosam accusantium? Est quibusdam quis aut quasi atque ipsa autem sint ab veniam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates ab qui dignissimos eveniet tempora magnam libero, quas illo expedita. Sit quas architecto, blanditiis aspernatur tempore sed cupiditate. Expedita, aperiam debitis!</p>
        </div>
    </div>
</div>
{{end}}