{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to home page!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, exercitationem. Alias esse eaque
                    officiis corrupti. Aut unde illum id! Deleniti mollitia modi ut saepe similique nihil tempora, numquam
                    quaerat dignissimos.</p>
            </div>
        </div>
    </div>
{{end}}